<<
@configure
  title:"UAB",
  connected: true,
  scripts:[
    {
      "dev":"https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js",
      "prod":"https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.min.js"
    }
    "main"
  ]
  stylesheets:[
    "main"
  ]
>>

<< extend "templates/master.ect" >>

<< block "init": >>
  {% if aek.action == "get_feed" %}
    {% set url = "http://www.uabsports.com/sports/" ~ aek.request("code") ~ "/headline-rss.xml" %}
    {% set service = aek.create_service(url) %}
    {{ service.set_namespace("") }}
    {{ service.set_method("get") }}
    {{ aek.respond(service.raw_response|xml2obj) }}
  {% endif %}
<< end >>
