@import "imports/aek-css-config";

// additional styles below
.listview-noshadow, .noshadow{
  box-shadow: 0 0 0 0 !important;
}
.ui.listview.menu.noshadow li.item {
  margin-bottom: 2rem;
  padding: 0;
}
.ui.header.alt.banner {
    font-family: 'Avenir Next', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 500;
    text-shadow: 0 1px 4px rgba(0,0,0,0.6);
    background-image: url("//portal-na.campusm.exlibrisgroup.com/assets/TheUniversityofAlabamaatBirmingham/UAB/Images/flame_vector_bg-600x90.jpg");
}

li.item {
    font-family: 'Avenir Next', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
}

h2.ui.header {
    font-family: 'Avenir Next', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 500;
}

.ui.header > .image, .ui.header > img {
    display: none;
}
